#main-heading{
    color: blue;
    background-color: rgba(0, 24, 147, 0.441);
}
.first-para{
    color: blueviolet;
}
.secod-para{
    color: red;
    background-color: yellow;
}
h2{
    background-color: rgb(96, 255, 202);
}